<!-- Breadcrumb-->
<div class="breadcrumb-holder">
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
      <li class="breadcrumb-item active">Klasör Ekle</li>
    </ul>
  </div>
</div>
<section class="forms">
  <div class="container-fluid">
    <!-- Page Header-->
    <header> 
      <h1 class="h3 display">Klasör Ekle</h1>
    </header>

    <% if (status == "no") { %>
    <% } else if (status == "ok") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Klasör oluşturuldu.</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } else { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%- status %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h4>Klasör Oluşturma Formu</h4>
          </div>
          <div class="card-body">
            <form class="form-horizontal" action="/dashboard/kategoriEkle" method="POST">

              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Klasör Adı</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="folder_name" name="folder_name" required>
                </div>
              </div>
              <div class="line"></div>
              
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Yalnızca Doktorlar görebilir</label>
                <div class="col-sm-1 pull-md-11" id="chbx">
                  <input type="checkbox" class="form-control" id="folder_permission" name="folder_permission" hidden>
                  <i class="fa fa-square-o" id="chk1"></i>
                  <i class="fa fa-check-square-o" id="chk2" hidden="hidden"></i>
                </div>
              </div>
              <div class="line"></div>
              
            <div hidden>
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Açıklama Başlığı</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="folder_title" name="folder_title">
                </div>
              </div>
              <div class="line"></div>
              
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Açıklama</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="folder_description" name="folder_description" rows="5"></textarea>
                </div>
              </div>
              <div class="line"></div>
            </div>
              
            <div class="form-group row">
              <label class="col-sm-2 form-control-label">Kategori İkonu <p id="iconProgressPercent"></p></label>
              <div class="col-sm-10">
              <div class="col-sm-10">
                <input type="text" class="form-control" id="protuct_type_logo_url" name="protuct_type_logo_url" hidden>
                <input type="file" value="upload" id="iconButton" title="İkon Seç" accept="image/*"/>
              </div>
                <div class="col-sm-2">
                  <img id="iconPreview" src="http://via.placeholder.com/50x50" alt="" height="100px">
                </div>
              </div>
            </div>

              <div class="form-group row">
                <div class="col-sm-4 offset-sm-2">
                  <!-- button type="submit" class="btn btn-secondary">Cancel</button -->
                  <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
  apiKey: "AIzaSyDpD2xg33L8GRxM3ym2xRqO52YiIEPo1Ic",
  authDomain: "mezoklinik-af086.firebaseapp.com",
  databaseURL: "https://mezoklinik-af086.firebaseio.com",
  projectId: "mezoklinik-af086",
  storageBucket: "mezoklinik-af086.appspot.com",
  messagingSenderId: "905154803992",
  appId: "1:905154803992:web:542b44d48aa1f4e822066d",
  measurementId: "G-T43PZWT06K"
  };
  firebase.initializeApp(config);

  // Get a reference to the database service
  var database = firebase.database();

  // token ile kimlik doğrulama
  firebase.auth().signInWithCustomToken("<%= customToken %>")
    .catch(function(error) {
      console.log("Hata! Kod: " + errorCode + "\nHata: " + errorMessage);
    });

// seçilen file_category iznine göre checkbox davranışı ayarlanıyor >>>
document.getElementById("chbx").addEventListener('click', function(e){
  var c1 = document.getElementById("chk1").getAttribute("hidden");
  var c2 = document.getElementById("chk2").getAttribute("hidden");
  if (c2 != null) {
    document.getElementById("chk1").setAttribute("hidden", "hidden");
    document.getElementById("chk2").removeAttribute("hidden");
    document.getElementById("folder_permission").setAttribute("checked","checked");
  }
  if (c1 != null) {
    document.getElementById("chk1").removeAttribute("hidden");
    document.getElementById("chk2").setAttribute("hidden", "hidden");
    document.getElementById("folder_permission").removeAttribute("checked");
  }
});


    ///////////////// Upload /////////////////////////
    // Get elements
    var iconButton = document.getElementById('iconButton');

    //logo upload
    iconButton.addEventListener('change', function(e) {
      // Get file
      var file = e.target.files[0];
        
      var date = new Date().getTime();
      var storageRef = firebase.storage().ref("productFiles/" + '/icon/' + date + file.name);

      // Upload file
      var task = storageRef.put(file);

      // Update progress bar
      task.on('state_changed',
          function progress(snapshot) {
              var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
              // uploader.value = percentage;
              document.getElementById("iconProgressPercent").innerHTML = "%" + Math.floor(percentage);
          },
          function error(err) {
            // alert error
              document.getElementById("iconProgressPercent").innerHTML = "Hata! Tekrar deneyin";
            // document.getElementById("errorAlert").removeAttribute("hidden");
          },
          function complete() {
            var downloadURL = task.snapshot.downloadURL;
            document.getElementById("protuct_type_logo_url").value = downloadURL;
            document.getElementById("iconPreview").src = downloadURL;

          }
      );
    });
    ///////////////// Upload /////////////////////////
</script>